body{
	margin: 0;
	background: #121518;
	font: 12px/14px "Times New Roman", Times, serif;
	min-width: 90%;
	color: #fff;
}
a{
	text-decoration: underline;
	color: #fff;
}
a:hover{
	text-decoration: none;
}
#wrapper{
	overflow: hidden;
}
#header{
	width: 65%;
	margin: 0 auto;
	overflow: hidden;
	padding: 25px 0;
}
#header h1{
	font-size: 30px;
	line-height: 34px;
	color: #fff;
	margin: 0 20% 0 0;
	font-weight: normal;
	float: left;
	max-width:100%;
}
#header h1 span{
	color: #13b71e;
}
#nav{
	margin: 0;
	padding: 7px 0 0;
	list-style: none;
	float: left;
	font-size: 18px;
	line-height: 18px;
	max-width: 65%;
}
#nav li:first-child{
	border-left: 1px solid #717070;
}
#nav li{
	float: left;
	border-right: 1px solid #717070;
	padding: 0 30px 0;
}
#nav a{
	color: #fafafa;
	text-decoration: none;
}
#nav .active a,
#nav a:hover{
	color: #13b71e;
}
#slideshow{
	margin: 0 auto;
	max-width: 70%;
	max-height: 550px;
	overflow: hidden;
	box-shadow: 0px 0px 15px #fff;
	position: relative;
	overflow: hidden;
}
#slideshow img{
	max-width: 100%;
}
.small1{
	margin: 0 20%;
}
.small1 img{
	width: 100%;
	height: 90%;
}
.small2{
	margin: 0 20%;
}
.small2 img{
	width: 100%;
	height: 90%;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active{
  background-color: #717171
}
.fade {
  -webkit-animation-name: fade;
    -webkit-animation-duration: 2s;
    animation-name: fade;
    animation-duration: 2s;
}
@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
#main{
	margin: 0 0 100px;
}
#main .content{
	max-width: 943px;
}
#main .three-columns{
	max-width: 70%;
	margin: 0 auto;
	overflow: hidden;
}
#main .three-columns .column{
	width: 310px;
	float: left;
	margin: 0 18px 15px;
}
#main .three-columns h2{
	margin: 0 0 18px;
	font-size: 18px;
	line-height: 22px;
	border-bottom: 2px solid #646566;
	padding: 0 0 8px;
}
#main .three-columns p{
	margin: 0 0 15px;
}
#main .three-columns .more{
	color: #13e624;
	float: right;
	text-decoration: none;
}
#main .three-columns .more:hover{
	text-decoration: underline;
}
#main .three-columns .column .searchbox ul{
	margin: 0px 0px 0px -35px;
}
#main .three-columns .column .searchbox ul>li {
	display: inline-block;
	margin: 0px 10px 0px 10px
}
#main .three-columns .column .google{
	width: 600px;
	height: 250px;
}
#main .location{
	max-width: 65%;
	color: inherit;
	margin: 0px auto;
}
#main .location p{
	letter-spacing: 2px;
	font-size: 15px;
	line-height: 200%;
}
#footer{
	max-width: 90%;
	margin:0 auto;
	text-align: right;
	padding: 0 0 20px;
}
#footer p{
	margin: 0;
}

@media only screen and (max-width: 800px) {
#slideshow{
max-height: 550px;
}

@media only screen and (max-width: 767px) {
#slideshow{
max-height: 300px;
}

@media only screen and (max-width: 300px) {
#slideshow{
max-height: 150px;
}